{{!-- if devoured is true display eaten burgers on the right side of page --}}
{{#if devoured}}<p>{{this.id}}: {{this.burger_name}}</p>

{{!-- display all burgers on left if devoured is false --}}
{{else}}<p>{{this.id}}: {{this.burger_name}}
<button type="submit" class="btn btn-primary btn-sm eatBurger" data-id="{{this.id}}"><i class="fa fa-check" style="font-size:20px"></i></button></p>
{{/if}}


